<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Advisor | System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="parent">
      <div class="div1">
        <h1>Course Engine</h1>
        <div class="search-box">
          <input
            type="text"
            id="courseInput"
            placeholder="Type a course name..."
          />
          <button onclick="getRecs()">Generate</button>
        </div>
      </div>

      <div class="div3">
        <h3>Interest Map</h3>
        <div style="height: 80%; width: 100%">
          <canvas id="patternChart"></canvas>
        </div>
      </div>

      <div class="div4">
        <h3>Model Precision</h3>
        <div id="metricsDisplay">
          <p>Precision@10: <span id="pAtK">0%</span></p>
          <p>Recall@10: <span id="rAtK">0%</span></p>
        </div>
      </div>

      <div class="div5">
        <h3>Recommended for You</h3>
        <div id="resultsList" class="netflix-row"></div>
        <p class="seac">Search Courses</p>
      </div>

      <div class="div2" id="aiReasoning">System Status: Ready for Query</div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
